[submodule "oauth2"]
	path = oauth2
url=git@github.com:jstormes/oauth2.git
[submodule "authorization-server"]
	path = authorization-server
	url = git@github.com:jstormes/authorization-server.git
	branch = master
[submodule "postwoman"]
	path = postwoman
	url = git@github.com:jstormes/postwoman.git
